@page "/task/read/{id:int}/{url}"
@rendermode _renderMode

<PageTitle>Szczegóły zadania</PageTitle>

<Auth>
    <ChildContent Context="AuthContext">
        @if (_isLoading)
        {
            <Loading />
        }
        else if (_task is null)
        {
            <h1 class="col-12 my-5 text-center fw-bold">Brak danych!</h1>
        }
        else
        {
            <h2>Szczegóły zadania</h2>

            <div class="col-6">
                <button class="btn btn-secondary mt-3" @onclick="Return"> Powrót</button>

                <div class="my-4 task-title"><b>Tytuł:</b> @_task.Title</div>

                @if (_task.Description is not null)
                {
                    <div class="my-4 task-description"><b>Opis:</b> @_task.Description</div>
                }

                @if (_task.DateOfPlannedStart is not null)
                {
                    <div class="my-4"><b>Data rozpoczęcia:</b> @_task.DateOfPlannedStart</div>
                }

                @if (_task.DateOfPlannedEnd is not null)
                {
                    <div class="my-4"><b>Data planowanego zakończenia:</b> @_task.DateOfPlannedEnd</div>
                }

                @if (_task.DateOfComplete is not null)
                {
                    <div class="my-4"><b>Data zakończenia:</b> @_task.DateOfComplete</div>
                }

                <div class="my-4"><b>Status zadania:</b> @_task.TaskStatus.AsString(EnumFormat.DisplayName)</div>
            </div>
        }
    </ChildContent>
</Auth>